# Name: CSI
# Author: Michael Entrup
# Version: 0.1.0-SNAPSHOT

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>CSI, "CSI Darkref Subtractor", edu.cornell.csi.CSI_Darkref_Subtractor
Plugins>CSI, "CSI DM3 Reader", edu.cornell.csi.CSI_DM3_Reader
Plugins>CSI, "CSI Map to Line", edu.cornell.csi.CSI_Map_to_Line
Plugins>CSI, "CSI Spectrum Analyzer", edu.cornell.csi.CSI_Spectrum_Analyzer
Plugins>CSI, "CSI TIA Reader", edu.cornell.csi.CSI_TIA_Reader
Plugins>CSI, "Dynamic Profiler", edu.cornell.csi.Dynamic_Profiler